.App {
	text-align: center;
	height: 812px;
}
nav {
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
}
.SpellListHtml {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: georgian;
	text-align: left;
	height: 400px;
	overflow: scroll;
}
